#header{
	color:grey;
}

#container{
	width:1000px;
	margin:0 auto;
}

#footer{
	height:20px;
	background-color:#5CB8E6;
	text-align:right
}

h2{
	color:#CC5200;
}

img{
	width:200px;
	height:200px;
	padding: 40px 20px 40px 80px;
}

.wrap {
    width: 100%;
}

.floatleft {
    float:left; 
    width: 70%;
}

.floatright {
float: right;
    width: 30%;
}


